* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #6b4281;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    margin-top: 50px;
    text-align: center;
}

.search-input {
    padding: 15px;
    margin: 25px 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 100px;
    border: 1px solid #ccc;
}

.movies-grid,
.watchlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 2rem 2rem;
    padding: 1rem;
    justify-content: center;
}

.movie-card {
    background-color: #272727;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.movie-card:hover {
    transform: scale(1.03);
}

.movie-card img {
    width: 250px;
    height: auto;
    display: block;
    object-fit: contain;
    object-position: center;
}

.movie-card-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

.movie-card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.movie-card-rating {
    font-size: 0.9rem;
    font-weight: bold;
    background: #141414;
    padding: 3px 10px;
    margin: 0 auto;
    width: 50px;
    border-radius: 50px;
}

.watchlist-btn {
    border: none;
    background: #2196f3;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.movie-card-genre {
    font-size: 0.9rem;
    margin-right: 10px;
}

nav {
    margin-top: 50px;
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
}

ul li {
    padding: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

nav a:hover {
    background-color: #e7f2f1;
    color: black;
}

.footer {
    margin-top: 100px;
    background-color: #6b4278;
    padding: 1rem;
    text-align: center;
}

.footer-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
}

.title {
    text-align: center;
    margin: 25px 0;
}

.app-subtitle {
    text-align: center;
    margin: 25px auto;
    font-weight: 300;
}
